<div class="text-center ease-in-out duration-100 transform hover:scale-110 m-5 ">
    <a href="{{ coach.link }}">
        <div class="mx-auto flex justify-center">
            <img
                class="rounded-full h-20 w-20 md:h-40 md:w-40 shadow-md"
                src="{{ coach.thumbnail.src('small') }}" alt=""
            >
        </div>
        <div class="coach__details">
            <h3 class="font-semibold">{{ coach.post_title }}</h3>
            <p class="coach__quote">
                {% set quote = coach.meta('_coachs_cmb_quote') %}
                {% if quote %}
                    <q>{{ quote }}</q>
                {% endif %}
            </p>
            {# <p class="coach__content">{{coach.post_content|excerpt(15)}}</p> #}
        </div>
    </a>
</div>